.mainContainer{
height: 1100px; 
border: solid cyan;
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-image: url("https://i.pinimg.com/originals/1a/a2/00/1aa2008c04d15f46d38b797cb1452ed4.gif");
background-size: cover ;
/* scroll-snap-type: y; */

}
.alienContainer{
height: 450px;
border: solid blue;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.alien{
    border: solid white;
    height: 50%;
    display: flex;
    justify-content: center;
}
.alienImg{
    height: 150px;
    
   
}
.thescreen{
    overflow-y: scroll;
height: 1000px;
border: solid orange;
background-color: black;
color: white;
font-size: 50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 80px;
text-align: left;
/* scroll-snap-align: end; */


}
.humanContainer{
height: 450px;
border: solid red;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.human{
border: solid purple;
height: 50%;
order: -1;
display: flex;
justify-content: center;
}
.humanImg{
    height: 200px;
    
   
}
.containerH,.containerA{
display: flex;
justify-content: space-between;
/* margin: 50px; */

}
.attackBtn{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin:30px 250px 10px 0px;
    background-color: rgba(77, 77, 77, 0);
    border: solid 19px red;
    color: lime;
    font-family: 'Franklin Gothic Medium' ;
    font-size: 30px;
}
.statsA,.statsH{
    font-family: 'Franklin Gothic Medium' ;
    color: white;
    align-items: space-between;
    margin:60px 0px 30px 80px
}
.hpText,.bloomText,.apText{
    padding: 10px 0px 10px 0px;
    
}
.nameTxt{
color: magenta;
font-size:  20px;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
}